.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0 0;
}


.footer {
    a {
    font-family: Merienda;
    font-size: 12px;
    line-height: 17.33px;
    text-align: left;
    text-decoration: none;
    color: black;


    }
    nav {
        display: flex;
        gap: 20px;}
    
    
}